.mds-checkbox {
    width: 36px;
    height: 20px;
    margin-top: 25px;
    margin-left: 40px;
    position: relative;
    cursor: pointer;
}

.mds-checkbox__input {
    width: 0;
    height: 0;
    visibility: hidden;
}

.mds-checkbox__label {
    width: 30px;
    height: 30px;
    display: flex;
    border-radius: 7px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background: #778899;
    position: relative;
    transform: background-color 200ms;
}

.mds-checkbox__input:checked + .mds-checkbox__label .mds-checkbox__checkmark {
    left: 10px;
    top: 4px;
    width: 8px;
    height: 16px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
} 

.mds-checkbox__parent {
    display: flex;
    flex-direction: row;
}

.mds-checkbox__text {
    margin-top: 45px;
    margin-left: 100px;
    height: 32.5px;
    display: flex;
    align-items: center;
    position: relative;
}

.mds-checkbox__input:hover + .mds-checkbox__label,
.mds-checkbox__input:focus + .mds-checkbox__label {
    border: 0.1rem solid #0a0a0a ;
}
.mds-checkbox__input:hover + .mds-checkbox__button:before,
.mds-checkbox__input:focus +.mds-checkbox__button::before {
    background: #0a0a0a ;
}